//theme colors
$primary: #4b6588; //Bismark
$secondary: #4c8c12; //Vida Loca
$success: #4c9961;
$info: #55452e; //Millbrook
$warning: #c98929; //Brandy Punch
$danger: #f44336; //Pomegranate
$light: #efeddf; //White Rock
$dark: rgb(85, 69, 46); //Millbrook

//fix drop down button color
//fix the button it will not close
//fix the hover color on the words in the navbar
//make navbar bigger and text more read able
//give the navbar a drop shadow for depth
//add image to hero section
//fix the carousel buttons
//fix hover in footer
