//them colors
$primary: #4b6588; //Bismark
$secondary: #4c8c12; //Vida Loca
$success: #4c9961;
$info: #55452e; //Millbrook
$warning: #c98929; //Brandy Punch
$danger: #f44336; //Pomegranate
$light: #efeddf; //White Rock
$dark: #55452e; //Millbrook

//fonts
